<h2>
  Reactivos:
  <small>Básicos</small>
</h2>

<div class="row">
  <div class="col">
    <form autocomplete="off" (ngSubmit)="guardar()" [formGroup]="miFormulario">
      <div class="mb-3">
        <label for="" class="col-sm-3 col-form-label">Producto</label>
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="Nombre del producto"
            formControlName="nombre"
          />

          <span class="form-text text-danger" *ngIf="campoEsValido('nombre')">
            Debe de ser de 3 letras
          </span>
        </div>
      </div>

      <div class="mb-3">
        <label for="" class="col-sm-3 col-form-label">
          Precio del producto
        </label>
        <div class="col">
          <input
            type="number"
            class="form-control"
            placeholder="precio del producto"
            formControlName="precio"
          />

          <span class="form-text text-danger" *ngIf="campoEsValido('precio')">
            Debe de ser mayor a 0
          </span>
        </div>
      </div>

      <div class="mb-3">
        <label for="" class="col-sm-3 col-form-label">Existencias</label>
        <div class="col">
          <input
            type="number"
            class="form-control"
            placeholder="existencias del producto"
            formControlName="existencias"
          />
          <span class="form-text text-danger" *ngIf="campoEsValido('existencias')">
            Debe de ser mayor a 0
          </span>
        </div>
      </div>

      <div class="mb-3">
        <div class="col">
          <button
            type="submit"
            class="btn btn-primary float-end"
          >
            Guardar
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="col">
    <span>Value</span>
    <pre> {{ miFormulario.value | json }}  </pre>
    <pre> {{ miFormulario.controls[0] | json }} </pre>

    <span>Custom Directive</span>
    <pre> {{ miFormulario.controls?.['existencias']?.errors | json }} </pre>

    <span>Valid</span>
    <pre> {{ miFormulario.valid }}  </pre>

    <span>Pristine</span>
    <pre> {{ miFormulario.pristine }}  </pre>

    <span>Touched</span>
    <pre> {{ miFormulario.touched }}  </pre>

    
  </div>
</div>
