<h2>Validaciones Reactivas</h2>
<hr />

<div class="row">
  <div class="col">
    <form
      autocomplete="off"
      [formGroup]="miFormulario"
      (ngSubmit)="submitFormulario()"
    >
      <!-- Nombre -->

      <div class="row mb-3">
        <label for="" class="col-sm-3 col-form-label">Nombre</label>
        <div class="col-sm-9">
          <input
            type="text"
            class="form-control"
            placeholder="Nombre del Usuario"
            formControlName="nombre"
          />

          <span class="form-text text-danger" *ngIf="campoNoValido('nombre')">
            Debe de ser en formato de nombre y apellido
          </span>
        </div>
      </div>

      <!-- Email -->

      <div class="row mb-3">
        <label for="" class="col-sm-3 col-form-label">Email</label>
        <div class="col-sm-9">
          <input
            type="email"
            class="form-control"
            placeholder="Email del Usuario"
            formControlName="email"
          />

          <!-- <span class="form-text text-danger" *ngIf="emailRequired()">
            El correo es obligatorio
          </span>
          <span class="form-text text-danger" *ngIf="emailFormato()">
            el valor no tiene formato de correo
          </span>
          <span class="form-text text-danger" *ngIf="emailTomado()">
            el correo electronico ya esta siendo usado
          </span> -->

          <span class="form-text text-danger" *ngIf="campoNoValido('email')">
            {{ emailErrorMsg }}
          </span>
        </div>
      </div>

      <!-- Email -->

      <div class="row mb-3">
        <label for="" class="col-sm-3 col-form-label">Username</label>
        <div class="col-sm-9">
          <input
            type="text"
            class="form-control"
            placeholder="username del Usuario"
            formControlName="username"
          />

          <span class="form-text text-danger"
            *ngIf="campoNoValido('username')"
          >
              El username no puede ser strider
          </span>
        </div>
      </div>

      <!-- Password -->

      <div class="row mb-3">
        <label for="" class="col-sm-3 col-form-label">Password</label>
        <div class="col-sm-9">
          <input
            type="password"
            class="form-control"
            placeholder="Password del Usuario"
            formControlName="password"
          />

          <span class="form-text text-danger"
            *ngIf="campoNoValido('password')"
          >
            la contraseña debe ser mayor de 6 caracteres
          </span>
        </div>
      </div>

      <!--Confirmar Password -->

      <div class="row mb-3">
        <label for="" class="col-sm-3 col-form-label">Confirmar Password</label>
        <div class="col-sm-9">
          <input
            type="password"
            class="form-control"
            placeholder="Confirmar Password"
            formControlName="password2"
          />

          <span class="form-text text-danger"
            *ngIf="campoNoValido('password2')"
          >
            Las contraseñas deben ser iguales
          </span>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <button type="submit" class="btn btn-primary float-end" [disabled]="miFormulario.pending">Crear</button>
        </div>
      </div>
    </form>
  </div>
</div>

<h2>Form Value</h2>
{{ miFormulario.valid | json }}

<h2>Form Errors</h2>
{{ miFormulario.errors | json }}

<h2>Form status</h2>
{{ miFormulario.status | json }}

<h2>Nombre</h2>
<pre> {{ miFormulario.controls['nombre'].errors | json }} </pre>

<h2>Email</h2>
<pre> {{ miFormulario.controls['email'].errors | json }} </pre>

<h2>Username</h2>
<pre> {{ miFormulario.controls['username'].errors | json }} </pre>

<h2>password</h2>
<pre> {{ miFormulario.controls['password'].errors | json }} </pre>

<h2>password2</h2>
<pre> {{ miFormulario.controls['password2'].errors | json }} </pre>